<!DOCTYPE html>
<html>
  <head>
    <title>The Three Things I Did</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&sensor=false"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sass.js/0.9.2/sass.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/nav.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="js/map.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.css">
    <script type="text/javascript" src="js/clickevents.js"></script>
    <script type="text/javascript" src="js/trending.js"></script>
    <script type="text/javascript" src="js/autocomplete.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,700italic,500italic,500,400italic,300italic,300,100,100italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    
  </head>

 <body>
    <!-- Menu Butoon -->
   <div class="button-contain">
    <div class="trigger-button">
      <div class="line1"></div>  
      <div class="line2"></div>  
      <div class="line3"></div>  
    </div>
  </div>
  <!-- Menu Button -->

  <div id="side-nav-bar">
    <div class="menu-item">
      <i class="fa fa-plus fa-lg"></i>
      <h4>add a trip</h4>
    </div>
    <hr class="nav-hr">
    <div class="menu-item">
      <i class="fa fa-globe fa-lg"></i>
      <h4>view your map</h4>
    </div>
    <hr class="nav-hr">
    <div class="menu-item">
      <i class="fa fa-th-list fa-lg"></i>
      <h4>Trending</h4>
    </div>
    <hr class="nav-hr">
    <div class="menu-item">
      <i class="fa fa-search fa-lg"></i>
      <h4>explore maps</h4>
    </div>
    <hr class="nav-hr">
    <div class="last-menu-item">
      <i class="fa fa-pencil fa-lg"></i>
      <h4>contact us</h4>
    </div>

    <h4 class="sign-up-link">SIGN UP</h4>
    <h4>OR</h4>
    <h4 class="login-link">LOG IN</h4>
    <br>

    <a href="/logout" class="btn btn-default btn-sm logout">LOGOUT</a>

  </div>

    <div id="left-pop-out">
      <div id="panel">
          <h3>Trip Details</h3>
        <form class="addLocation">
          <input name="address" id="address" class="new-trip-input" type="textbox">
         <!--  <input name class="add-pin" type="button" value="add pin"> -->
          <input name="date" class="new-trip-input" type="textbox" placeholder="date visited">
          <input name="stay" class="new-trip-input" type="textbox" placeholder="how long were you there?">
          <div id="top-three">
            <h3>Enter your three favourite things you did while there</h3>
            <input name="top1" id="pac-input1" class="controls" type="text" placeholder="1.">
            <input name="top2" id="pac-input2" class="controls" type="text" placeholder="2.">
            <input name="top3" id="pac-input3" class="controls" type="text" placeholder="3.">
          <div id="type-selector" class="controls">
        </div>
          </div> 
          
        </form>
        <!-- Taking the button outside form to stop autocomplete events firing submit -->
        <button class="new-location">submit</button>           
        </div> <!-- this closes the panel div -->
      </div> <!-- this closes the left-pop-out -->

      <div id="login-pop-out">
        <h2>LOGIN</h2>

        <form action="/login" method="post">
        <div class="form-group">
           <label>Email</label>
           <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
           <label>Password</label>
           <input type="password" class="form-control" name="password">
        </div>

       <button type="submit" id="login-up-button" class="btn btn-warning btn-lg">Login</button>
        </form>
      </div>

      <div id="sign-up-pop-out">
        <h3>Create a new account</h3>
        <hr class="sign-up-hr">
        <p>Signing up with us will allow you to create your own personalized map, which you can track your personal travels through</p>
          <form action="/signup" method="post">
            <div class="form-group">
              <label class="registration-fields">NAME</label>
              <input type="text" class="form-control" name="name">
              <label class="registration-fields">USERNAME</label>
              <input type="text" class="form-control" name="username">
              <label class="registration-fields">EMAIL</label>
              <input type="text" class="form-control" name="email">
              <label class="registration-fields">PASSWORD</label>
              </div>
              <input type="password" class="form-control" name="password">
              <button type="submit" id="sign-up-button" class="btn btn-warning btn-lg"><p>SIGN UP</p></button>
          </form>
      </div>
    </div>

    <div id="trending-pop-out">
      <h3>Things Trending</h3>
      <div class="append-trends">
      
      </div>
    </div>
    <div id="map-canvas"></div>

  </body>
</html>