html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#panel {
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  z-index: 5;
  padding: 5px;
}

#side-nav-bar {
  width: 5.5%;
  height: 800px;
  background-color: rgba(90, 90, 90, 0.9);
  position: absolute;
  right: 0px;
  z-index: 3;
  text-align: center;
  padding-top: 2%;
}

#left-pop-out {
  width: 20%;
  height: 800px;
  background-color: rgba(100, 100, 100, 0.9);
  position: absolute;
  float: left;
  z-index: 3;
  text-align: center;
  display: none;
}

#add-trip-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  letter-spacing: 2px;
}

.new-trip-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

#top-three {
  margin-top: 30%;
}

h3 {
  color: white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 0;
}

h4 {
  color: white;
  font-size: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0 0;
}

.fa {
  color: white;
  margin-bottom: 10px;
}

.nav-hr {
  width: 55%;
}

.menu-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

#login-div {
  margin-top: 30%;
}