html, body, #map-canvas {
  height: 100%;
  max-width: 98.2%;
  margin: 0px;
  padding: 0px
}

#panel {
  /*position: absolute;*/
  /*margin: 20% 10%;*/
  z-index: 5;
  padding: 5px;
}

#side-nav-bar {
  width: 5.5%;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0px;
  z-index: 3;
  text-align: center;
  padding-top: 2%;
}

#left-pop-out {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  float: left;
  z-index: 2;
  text-align: center;
  display: none;
  padding: 5% 3%;
}

#login-pop-out {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  float: left;
  z-index: 2;
  text-align: left;
  display: none;
  padding: 5% 3%;
}

#sign-up-pop-out {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  float: left;
  z-index: 2;
  text-align: left;
  display: none;
  padding: 5% 3%;
}

#add-trip-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  letter-spacing: 2px;
}

.new-trip-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(140, 140, 140, 1);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 100;
  width: 80%;
  outline: none;
  margin-bottom: 10%;
}

#top-three {
  margin-top: 10%;
}

.controls {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(140, 140, 140, 1);
  color: rgba(90, 90, 90, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10%;
  width: 80%;
  outline: none;
}

#welcome-div {
  position: absolute;
  z-index: 2;
  text-align: left;
  padding: 5% 3%;
  color: white;
  width: 37%;
  margin-top: 22%;
  margin-left: 2%;
}

.form-control {
  display: block;
  text-align: center;
  background-color: white;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(90, 90, 90, 1);
  letter-spacing: 2px;
}

h3 {
  color: rgba(90, 90, 90, 1);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 0;
  text-align: left;
}

h4 {
  color: rgba(90, 90, 90, 1);
  font-size: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0 0;
}

h5 {
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 0;
  line-height: 27px;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: rgba(215, 30, 66, 1);
  letter-spacing: 2px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

p {
  color: rgba(90, 90, 90, 1);
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0 0;
  line-height: 19px;
}

#bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

#delete-button {
  background-color: transparent;
  border: none;
  border-left: 1px solid grey;
  /*margin-left: 5%;*/
  /*padding-left: 5%;*/
  /*padding-right: 5%;*/
  margin-bottom: 8%;
}

#delete-button:hover h6 {
  color: rgba(90, 90, 90, 1);
}

.registration-fields {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: rgba(90, 90, 90, 1);
  letter-spacing: 2px;
}

.fa {
  color: rgba(90, 90, 90, 1);
  margin-bottom: 10px;
}

.fa:hover {
  color: rgba(226, 39, 46, 1);
}

.nav-hr {
  width: 67%;
  height: 1px;
  border: 0;
  color: rgba(150, 150, 150, 1);  
  background-color: rgba(150, 150, 150, 1); 
}

.menu-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.last-menu-item {
  margin-top: 20px;
  margin-bottom: 100%;
}

.sign-up-hr {
  width: 75%;
  height: 1px;
  border: 0;
  color: rgba(150, 150, 150, 1);  
  background-color: rgba(150, 150, 150, 1); 
}

#sign-up-button {
  background-color: transparent;
  border: 1px solid rgba(170, 170, 170, 1);
  color: white;
  margin-top: 5%;
}

#sign-up-button:hover {
  background-color: rgba(190, 190, 190, 1);
  margin-top: 5%;
}

#login-button {
  background-color: transparent;
  border: 1px solid rgba(170, 170, 170, 1);
  color: white;
  margin-top: 5%;
  outline: none;
}

#login-button:hover {
  background-color: rgba(190, 190, 190, 1);
  margin-top: 5%;
}

.form-group {
  margin-top: 8%;
}

.new-trip-input {
  color: rgba(90, 90, 90, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.logout {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  padding: 5px;
  border: 1px ridge rgba(90, 90, 90, 1);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.logout:hover {
  background-color: rgba(215, 30, 66, 1);
}

.btn-sm {
  background-color: rgba(90, 90, 90, 1);
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.gm-style div a div img {
  display: none;
}

.profile-photo img {
 display: none; 
}

#trending-pop-out{
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  float: left;
  z-index: 3;
  text-align: center;
  display: none;
  padding: 5% 3%;
}

#trending-pop-out h3{
  color: rgba(90, 90, 90, 1);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 0;
  text-align: left;
}

#trending-pop-out li{
  color: rgba(90, 90, 90, 1);
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 15%;
  text-decoration: none;
  text-align: left;
  list-style-type: none;
}

.arrow-contain {
  margin-top: 210px;
  margin-left: 200px;
}
.arrow-contain-trend {
  margin-top: 405px;
  margin-left: 214px;
}

.arrow-contain-sign-up{
  margin-top:315px;
  margin-left:270px;
}

.arrow-contain-log-in{
  margin-top:440px;
  margin-left:270px;
}

.trending-item {
  text-align: left;
}

.addLocation {
  margin-top: 5%;
}

.new-location {
  background-color: transparent;
  border: 1px solid rgba(170, 170, 170, 1);
  color: white;
  margin-top: 5%;
}

.new-location:hover {
  background-color: rgba(190, 190, 190, 1);
  margin-top: 5%;
}

#pac-input1 {
  margin-top: 5%;
}

input {
  outline: none;
}